version: '3.8'

volumes:
    dados-db-onstores:      

services:
  db-onstores:
    container_name: "db-onstores-teste"
    image: "mongo:3.6.2"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=jpwnSdWE10HE0JDljLEMXDwVnogNYEdErtqGVHAwVeGPWTXLbTNpbCOm6u3AQJrm
    ports:
      - 27019:27017
    expose:
      - 27019
    volumes: 
      - dados-db-onstores:/data/db
